<table style="font-size: 40px;"  *ngIf="(status | async).state>0">
  <tr *ngFor="let row of board; let r = index">
    <td *ngFor="let item of items; let c = index">
      <app-chip [r]="r" [c]="c"></app-chip>
    </td>
  </tr>
</table>
<span *ngIf="(status | async).state==0">Gameboard size:
<input type="text" id="table" size="2" value="3"/>
</span>
<button (click)="startGame()" [disabled]="(status | async).state!=0">Start</button>
<button (click)="reset()" [disabled]="(status | async).state==0">Reset</button>