<!--The content below is only a placeholder and can be replaced.-->
<app-datepicker2></app-datepicker2>
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <app-game style="font-family: sans-serif"></app-game>
</div>
<!-- <atx-tooltip message="MESSAGE TOOLTIP" label="title" clazz="btn btn-success" placement="right"></atx-tooltip> -->
<app-testut></app-testut>
<!--  -->
<app-input
  [id]="'CAM_PFS_NOM'"
  [maxLength]="10"
  [value]="'Ricard'"
  [placeholder]="'Nom'"
  (setValue)="setValue($event)"
></app-input>

<app-input
  [id]="'CAM_PFS_APE_1'"
  [maxLength]="15"
  [value]="'Figuls'"
  [placeholder]="'Primer Cognom'"
  (setValue)="setValue($event)"
></app-input>

<app-input
  [id]="'CAM_PFS_APE_2'"
  [maxLength]="15"
  [value]="'Mateu'"
  [placeholder]="'Segon cognom'"
  (setValue)="setValue($event)"
></app-input>
<app-input
  [id]="'CAM_PFS_MADRE'"
  [maxLength]="15"
  [value]="''"
  [placeholder]="'Nombra a tu madre'"
  (setValue)="setValue($event)"
></app-input>
<app-sso
  [id]="'CAM_PFS_SSO'"
  [value]="{PRO:'12',NUM:'12345678',DIG:'12'}"
  [placeholder1]="'nn'"
  [placeholder2]="'nnnnnnnn'"
  [placeholder3]="'nn'"
  (setValue)="setValue($event)"
></app-sso>
{{ this.values | json }}
